@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz:wght@300&display=swap");

html{
  background-color: rgb(10, 10, 10);
  font-size: 20px;
}

* {
  /* border: 1px solid red; */
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
  width: 80%;
  margin: 20px auto;
}

h1 {
  font-family: "Lobster", cursive;
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: rgb(46, 57, 70);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 1.4rem;
}

nav a {
  padding-top: 5px;
  margin-left: 15px;
  text-decoration: none;
}

nav img:hover{
  filter: saturate(2);
  
}

main{
  margin: 50px;
}

