@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz:wght@300&display=swap");

html{
  background-color: black;
  font-size: 20px;
}

* {
  /* border: 1px solid red; */
  /* background-color: #0a0a0a; */
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: rgb(30, 30, 30) !important;
  border-radius: 10px;
  height: 100vh;
  width: 80%;
  margin: 20px auto;
}

h1 {
  font-family: "Lobster", cursive;
}

nav {
  padding-top: 10px;
  background-color: rgb(17, 17, 17);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 1.2rem;
  text-align: center;  
}

nav a {
  vertical-align: 6px;
  background-color: transparent;
  margin-left: 15px;
  display: inline;
  text-decoration: none;
  transition: font-size 0.1s ease-out;

}

nav img:hover{
  filter: saturate(2);
  
}

nav a:hover{
  font-size: 1.4rem;
  transition: font-size 0.1s ease-out;
}

main{
  margin: 50px;
}

